# Create an Employee class and extend it to a Manager class with added attributes/methods.

In [2]:
class employee:
  def __init__(self,name,age,salary,department):
    self.age=age
    self.name=name
    self.salary=salary
    self.department=department
  def display(self):
    print(f"name:{self.name}\n age:{self.age} \n salary{self.salary} \n dep:{self.department}")
class manager(employee):
  def __init__(self,name,age,salary,department,teamsize,level):
    super().__init__(name,age,salary,department)
    self.teamsize=teamsize
    self.level=level
  def assign_task(self,task,team_member):
    print(f"{self.name} assigns task to {task} to {team_member} ")
  def mgr_disp(self):
    print(f"manager level:{self.level} \n team size:{self.teamsize}")
m=employee("libin",22,20000,"data science")
e=manager("libin",22,20000,"data science",5,"senior")
e.assign_task("complete front end","him")

e.display()
e.mgr_disp()

libin assigns task to complete front end to him
name:libin
 age:22
 salary20000
 dep:data science
manager level:senior
 team size:5

# Implement method overriding using inheritance.

In [11]:
class employee:
  def __init__(self,name,age,salary,department):
    self.age=age
    self.name=name
    self.salary=salary
    self.department=department
  def display(self):
    print(f"name:{self.name}\n age:{self.age} \n salary{self.salary} \n dep:{self.department}")
class manager(employee):
  def __init__(self,name,age,salary,department,teamsize,level):
    super().__init__(name,age,salary,department)
    self.teamsize=teamsize
    self.level=level
  def display(self):
    super().display()
    print(f"manager level:{self.level} \n team size:{self.teamsize}")

m=employee("libin",22,20000,"data science")
e=manager("libin",22,20000,"data science",5,"senior")
m.display()
print("\n")
e.display()

name:libin
 age:22
 salary20000
 dep:data science


name:libin
 age:22
 salary20000
 dep:data science
manager level:senior
 team size:5

# Try a multiple inheritance example (e.g., Person, Worker).

In [17]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def display(self):
    print(f"name:{self.name}  age:{self.age}")
class worker(person):
  def __init__(self,name,age,company,salary):
    super().__init__(name,age)
    self.company=company
    self.salary=salary
  def display(self):
    super().display()
    print(f"company:{self.company}  salary:{self.salary}")
class employee(worker):
  def __init__(self,name,age,company,salary,emp_id):
    super().__init__(name,age,company,salary)
    self.emp_id=emp_id
  def display(self):
    super().display()
    print(f"{self.emp_id}")

a=employee("libin",22,"senscript",2000,"sens112")
a.display()

name:libin  age:22
company:senscript  salary:2000
sens112

# Create a calculator class with basic operations.

In [36]:
class calc:
    def __init__(self):
        pass

    def add(self, a, b):
        return a + b

    def sub(self, a, b):
        return a - b

    def mul(self, a, b):
        return a * b

    def div(self, a, b):
        if b == 0:
            return "Division not possible (divide by zero)"
        else:
            return a / b

calc=calc()
while True:
  print("simple calculator \n 1 for addition \n 2 for substraction \n 3 for multiplication \n 4 for division \n 5 for exit")
  c=int(input("enter the choice"))
  if c in [1,2,3,4]:
    a=float(input("enter the 1st no."))

    b=float(input("enter the 2nd no."))
    if c ==1:
      print(f"{calc.add(a,b)}\n")
    elif c ==2:
      print(f"{calc.sub(a,b)}\n")
    elif c ==3:
      print(f"{calc.mul(a,b)}\n")
    elif c ==4:
      print(f"{calc.div(a,b)}\n")
  elif c ==5:
      print("thankyou")
      break

  else:
    print("invalid input")

simple calculator
 1 for addition
 2 for substraction
 3 for multiplication
 4 for division
 5 for exit
enter the choice2
enter the 1st no.45
enter the 2nd no.54
-9.0

simple calculator
 1 for addition
 2 for substraction
 3 for multiplication
 4 for division
 5 for exit
enter the choice5
thankyou